backend/venv/
venv/
env/
__pycache__/
*.dll
frontend/node_modules/
frontend/build/
frontend/.cache/
backend/myenv/
backend/venv/
__pycache__/
*.pyc
frontend\node_modules\.cache\default-development\0.packfrontend/node_modules/
frontend/build/
frontend/.cache/
backend/myenv/
backend/venv/
__pycache__/
*.pyc
